<h1 fxLayout="row" fxLayoutAlign="center">
    <b>
        {{ playerName }}
    </b>
</h1>

<mat-card>
    <h1 [ngClass.lt-sm]="{
        'small-timer-text': true, 
        'medium-timer-text': false, 
        'large-timer-text': false
    }" [ngClass.sm]="{
        'small-timer-text': false, 
        'medium-timer-text': true, 
        'large-timer-text': false
    }" [ngClass.gt-sm]="{
        'small-timer-text': false, 
        'medium-timer-text': false, 
        'large-timer-text': true
    }">
        <span *ngIf="!minutes">
            {{ "00" }}
        </span>
        <span *ngIf="!!minutes && minutes >= 10">
            {{ minutes }}
        </span>
        <span *ngIf="!!minutes && minutes < 10">
            {{ "0" + minutes }}
        </span>

        <span>
            :
        </span>

        <span *ngIf="!seconds">
            {{ "00" }}
        </span>
        <span *ngIf="seconds && seconds >= 10">
            {{ seconds }}
        </span>
        <span *ngIf="seconds && seconds < 10">
            {{ "0" + seconds }}
        </span>

    </h1>

</mat-card>

<h1 fxLayout="row" fxLayoutAlign="center" style="margin-top: 15%;">
    <mat-icon *ngIf="active == true" aria-hidden="false" aria-label="Timer icon" style="font-size: 50px; width: 50px;">
        timer
    </mat-icon>
    <mat-icon *ngIf="active == false" aria-hidden="false" aria-label="Timer icon" style="font-size: 50px; width: 50px;">
    </mat-icon>
</h1>