.custom-button-container-desktop-sm div button {
    padding: 3% 7.5%; 
    font-size: 1.5em;
    width: 30%;
    margin: auto;
}

.custom-button-container-desktop-md div button {
    padding: 3% 7.5%; 
    font-size: 1.5em;
    width: 25%;
    margin: auto;
}

.custom-button-container-desktop-lg div button {
    padding: 2% 5%; 
    font-size: 1.5em;
    width: 15%;
    margin: auto;
}

.custom-button-container-mobile-sm div button.button-switch {
    padding: 7.5% 7.5%; 
    font-size: 1.5em;
    width: 75%;
    margin: auto;
}

.custom-button-container-mobile-md div button.button-switch {
    padding: 7.5% 7.5%; 
    font-size: 1.5em;
    width: 75%;
    margin: auto;
}

.custom-button-container-mobile-lg div button.button-switch {
    padding: 5% 7.5%; 
    font-size: 1.5em;
    width: 50%;
    margin: auto;
}

.custom-button-container-mobile-sm div :not(button.button-switch) {
    padding: 5% 7.5%; 
    font-size: 1.5em;
    width: 30%;
    margin: auto;
}

.custom-button-container-mobile-md div :not(button.button-switch) {
    padding: 5% 7.5%; 
    font-size: 1.5em;
    width: 25%;
    margin: auto;
}

.custom-button-container-mobile-lg div :not(button.button-switch) {
    padding: 5% 7.5%; 
    font-size: 1.5em;
    width: 25%;
    margin: auto;
}

.button-pause {
    background-color:rgb(206, 168, 0); 
    color: white;
}
.button-reset {
    background-color:rgb(169, 20, 9);
    color: white;
}
.button-resume {
    background-color:rgb(0, 189, 126); 
    color: white;
}
.button-start {
    background-color:rgb(40, 168, 68); 
    color: white;
}
.button-switch {
    background-color:rgb(0, 103, 187); 
    color: white;
}
