<div name="body">
  <app-navbar></app-navbar>
  <div name="content" fxLayout="column" fxLayoutGap.lt-sm="7.5%" fxLayoutGap.sm="5%" fxLayoutGap.gt-sm="2.5%">

    <mat-card>
      <form fxLayout.lt-sm="column" fxLayout.gt-xs="row" fxLayoutAlign.lt-sm="center"
        fxLayoutAlign.gt-xs="space-around">
        <div>
          <mat-label style="opacity: 0.75;">Starting time:</mat-label>
        </div>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Minutes</mat-label>
            <input type="number" matInput placeholder="Number of Minutes" [value]="defaultMinutes"
              [(ngModel)]="defaultMinutes" [ngModelOptions]="{standalone: true}"
              (keypress)="validateIsKeyPressNumber($event, 'minutes')">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Seconds</mat-label>
            <input type="number" matInput placeholder="Number of Seconds" [value]="defaultSeconds"
              [(ngModel)]="defaultSeconds" [ngModelOptions]="{standalone: true}"
              (keypress)="validateIsKeyPressNumber($event, 'seconds')">
          </mat-form-field>
        </div>
        <div fxHide.lt-md>
          <button mat-raised-button (click)="switchTimers(); $event.preventDefault()" onclick="this.blur()">
            Switch starting player
          </button>
        </div>
      </form>

      <div fxLayout="row" fxLayoutAlign="center">
        <h4 name="desktop-message" [fxHide]="this.isMobileDevice" style="margin: 0; opacity: 0.75;">Press
          <b><kbd>spacebar</kbd></b> or
          <b><kbd>enter</kbd></b> to switch the timer to the other player!
        </h4>
        <h4 name="mobile-message" [fxHide]="!this.isMobileDevice" style="margin: 0; opacity: 0.75;">Tap <b>Switch</b> to
          move the timer to
          the other player!
        </h4>
      </div>
    </mat-card>

    <div fxLayout="row" fxLayoutAlign="space-around">
      <app-player-timer [playerName]="'Player 1'" [active]="player1TimerActive" [defaultMinutes]="defaultMinutes"
        [defaultSeconds]="defaultSeconds" [gameState]="gameState" (onEndOfGame)="endGame($event)">
      </app-player-timer>
      <app-player-timer [playerName]="'Player 2'" [active]="player2TimerActive" [defaultMinutes]="defaultMinutes"
        [defaultSeconds]="defaultSeconds" [gameState]="gameState">
      </app-player-timer>
    </div>

    <div fxLayout="column" fxLayoutAlign="center" [ngClass.lt-sm]="{
    'custom-button-container-desktop-sm': !isMobileDevice,
    'custom-button-container-desktop-md': false,
    'custom-button-container-desktop-lg': false,
    'custom-button-container-mobile-sm': isMobileDevice,
    'custom-button-container-mobile-md': false,
    'custom-button-container-mobile-lg': false
    }" [ngClass.sm]="{
      'custom-button-container-desktop-sm': false,
      'custom-button-container-desktop-md': !isMobileDevice,
      'custom-button-container-desktop-lg': false,
      'custom-button-container-mobile-sm': false,
      'custom-button-container-mobile-md': isMobileDevice,
      'custom-button-container-mobile-lg': false
      }" [ngClass.gt-sm]="{
        'custom-button-container-desktop-sm': false,
        'custom-button-container-desktop-md': false,
        'custom-button-container-desktop-lg': !isMobileDevice,
        'custom-button-container-mobile-sm': false,
        'custom-button-container-mobile-md': false,
        'custom-button-container-mobile-lg': isMobileDevice
        }" fxLayoutGap="5%">

      <div [fxHide]="!this.isMobileDevice" fxLayout="row" fxLayoutAlign="center">
        <button class="custom-button-md button-switch" mat-raised-button (click)="switchTimers()"
          onclick="this.blur()">Switch</button>
      </div>

      <div *ngIf="gameState.get() === 'reset'" fxLayout="column" fxLayoutGap="3%">
        <button class="custom-button-md button-start" mat-raised-button (click)="startGame()"
          onclick="this.blur()">Start</button>
      </div>
      <div *ngIf="gameState.get() === 'active'" fxLayout="column" fxLayoutGap="3%">
        <button class="custom-button-md button-pause" mat-raised-button (click)="pauseGame()"
          onclick="this.blur()">Pause</button>
        <button class="custom-button-md button-reset" mat-raised-button (click)="resetGame()"
          onclick="this.blur()">Reset</button>
      </div>
      <div *ngIf="gameState.get() === 'paused'" fxLayout="column" fxLayoutGap="3%">
        <button class="custom-button-md button-resume" mat-raised-button (click)="startGame()"
          onclick="this.blur()">Resume</button>
        <button class="custom-button-md button-reset" mat-raised-button (click)="resetGame()"
          onclick="this.blur()">Reset</button>
      </div>
      <div *ngIf="gameState.get() === 'ended'" fxLayout="column" fxLayoutGap="3%">
        <button class="custom-button-md button-reset" mat-raised-button (click)="resetGame()"
          onclick="this.blur()">Reset</button>
      </div>

    </div>

  </div>
</div>